Q1

In [4]:
def reverse_string(s):
    return s[::-1]

# SAMPLE
print(reverse_string("hello"))

# Output:
# "olleh"

olleh

Q2

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
print(factorial(5))  # Output: 120

120

Q3

In [6]:
def sort_list(lst):
    return sorted(lst)

# Example usage
print(sort_list([3, 1, 4, 1, 5, 9]))  # Output: [1, 1, 3, 4, 5, 9]

[1, 1, 3, 4, 5, 9]

Q4

In [10]:
import pandas as pd
file_path="diabetes.csv"
def analyze_csv(file_path):
    df = pd.read_csv(file_path)

    # Handle missing values
    df.fillna(method='ffill', inplace=True)

    # Example of standardizing a column (converting to lowercase)
    if 'column_name' in df.columns:
        df['column_name'] = df['column_name'].str.lower()

    # Basic analysis
    mean_value = df.mean()
    median_value = df.median()
    mode_value = df.mode().iloc[0]

    return mean_value, median_value, mode_value

# Example usage
print(analyze_csv(file_path))

(Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64, Pregnancies                   3.0000
Glucose                     117.0000
BloodPressure                72.0000
SkinThickness                23.0000
Insulin                      30.5000
BMI                          32.0000
DiabetesPedigreeFunction      0.3725
Age                          29.0000
Outcome                       0.0000
dtype: float64, Pregnancies                  1.000
Glucose                     99.000
BloodPressure               70.000
SkinThickness                0.000
Insulin                      0.000
BMI                         32.000
DiabetesPedigreeFunction     0.254
Age                         22.000
Outcome                      0.000
Name: 0, dtype: float64)

<ipython-input-10-d09281ee831a>:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

Q5

In [14]:
import json

def process_json(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)

    # Example: Find the maximum value in a list of numbers under a specific key
    if 'numbers' in data:
        max_value = max(data['numbers'])
        return max_value
    return None

# Example usage
max_val = process_json('j1.json')
print(max_val)

88

Q6

In [12]:
def binary_search(arr, target):
    low, high = 0, len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1

    return -1  # Target not found

# Example usage
print(binary_search([1, 2, 3, 4, 5], 3))  # Output: 2

2

Q7

In [ ]:
#Follow link below for the Q7 for weather application using api
# https://sites.google.com/view/acviss-task/home

Q8

In [16]:
import sqlite3

def interact_with_database():
    # Connect to SQLite database (or create it)
    conn = sqlite3.connect('example.db')
    cursor = conn.cursor()

    # Create a table
    cursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

    # Insert data
    cursor.execute("INSERT INTO users (name, age) VALUES ('Alice', 25)")
    cursor.execute("INSERT INTO users (name, age) VALUES ('Bob', 30)")

    # Commit the transaction
    conn.commit()

    # Retrieve and print data
    cursor.execute("SELECT * FROM users")
    print(cursor.fetchall())

    # Close the connection
    conn.close()

# Example usage
interact_with_database()

[(1, 'Alice', 25), (2, 'Bob', 30)]